.abs-center {
	position: absolute;
	@include offset(50%, 50%);
	transform: translate(-50%, -50%);
}

.abs-fill {
	position: absolute;
	@include offset(0, 0);
	@include size(100%);
}

.bg-cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
