.full-screen-question {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;

	&.is-right {
		.character-animation {
			left: auto;
			right: 0;
			transform: scaleX(-1) translateY(-50%);
		}
	}
}

.question {
	max-width: base-size(910);
	margin-bottom: base-size(60);
}

.answer-options {
	position: absolute;
	@include position(auto, base-size(30), base-size(22), auto);
}

.character-animation {
	position: absolute;
	@include offset(0, 50%);
	transform: translateY(-50%);
	@include size(base-size(250 * 0.8), base-size(400 * 0.8));
}
